@page "/systemdata"

<div class="container">

    <h1>System</h1>


    <a href="systemdata/mpc">
        <h3>MPC-HC</h3>
    </a>

    <a href="systemdata/sonarr">
        <h3>Sonarr</h3>
    </a>
    
    <a href="systemdata/Radarr">
        <h3>Radarr</h3>
    </a>

</div>