@page "/systemdata/radarr"
@using MediaHelper.Blazor.App.Services
@inject ApiClient Client

<div class="container">

    <h1>Radarr</h1>

    <form>
        <i class="fas fa-file"></i>
        <label for="selectedFile">Radarr URL</label>
        <input id="selectedFile" type="text" bind="@RadarrUrl"/>
    </form>

    <btn class="waves-effect waves-light btn" onclick="@(async () => await Save())">Save</btn>
</div>

@functions
{

    public string RadarrUrl { get; set; }

    protected override async Task OnInitAsync()
    {
        await JSRuntime.Current.InvokeAsync<object>("addTooltip");
        RadarrUrl = await Client.SystemEndpoint.GetRadarrLocation();
    }

    private async Task Save()
    {
        await Client.SystemEndpoint.UpdateRadarrLocation(RadarrUrl);
    }

}