 <nav class="nav-center" role="navigation">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="center hide-on-med-and-down">
            <li><a href="./">Home</a></li>
            <li><a href="systemdata">System</a></li>
        </ul>
    </div>
</nav>
