
<a href="series/@SeriesId">
    <img src="@ImageSrc" height="250" alt=""/>
</a>

@functions
{
    [Parameter]
     string ImageSrc { get; set; }
    
    [Parameter]
     string SeriesId{ get; set; }
    
    

}
