
<a href="series/@SeriesId">
    <img src="@($"{BaseUrl}/{ImageSrc}")" height="250" alt=""/>
</a>

@functions
{
    [Parameter]
     string ImageSrc { get; set; }
    
    [Parameter]
     string BaseUrl{ get; set; }
    
    [Parameter]
     long SeriesId{ get; set; }
}
